asgiref==3.11.1
certifi==2026.1.4
distlib==0.4.0
Django==6.0.2
filelock==3.20.3
packaging==26.0
pillow==12.1.0
pipenv==2026.0.3
platformdirs==4.5.1
setuptools==81.0.0
sqlparse==0.5.5
urllib3==2.6.3
virtualenv==20.36.1
