@use "../node_modules/bootstrap/scss/bootstrap";
$palatinate: #4c1e4f;
$ghost-white: #ecebf2;
$teal: #087e8b;
$carrot-orange: #f39237;
$black-olive: #25291c;

body {
  width: 100vw;
  background-color: $ghost-white;
}

.btn-regular {
  background-color: $black-olive;
  color: $ghost-white;
  border-color: $black-olive;
}

.btn-regular:hover {
  background-color: $ghost-white;
  color: $black-olive;
  border-color: $ghost-white;
}

.card {
  width: 20rem;
  background-color: $black-olive;
  border-color: $black-olive;
  color: $black-olive;
}

.card-title,
.card-body {
  color: white;
}

* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

header {
  font-weight: 700;
  font-style: normal;
  background-color: $palatinate;
  color: white;
}

footer {
  font-weight: 300;
  font-style: normal;
}

label {
  font-weight: 500;
  font-style: normal;
}
