.button {
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: large;
  border-radius: 10%;
  background-color: black;
  color: white;
}

.add__game,
.back__button {
  width: 15%;
  border-radius: 20px;
  align-self: center;
}
