.game {
  width: 40%;
  padding: 15px;
  border-radius: 10px;;
  background-color: #DFCCFB;
  text-align: center;
}

.game__data {
  display: flex;
  justify-content: space-around;
}

.image__div {
  height: 150px;
  width: 150px;
  background-color: grey;
}