.game {
  width: 40%;
  padding: 15px;
  border-radius: 10px;;
  background-color: #DFCCFB;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image__div {
  height: 150px;
  width: 150px;
  background-color: grey;
}